// Colores
@body: #f3f3f3;
@blue: #00427a;
@gray: #494949;
@graylighter: #e3e3e3;
@black: #222222;
@white: #fff;
@code: #f6f6f6;

// Imágenes
@pathimg: "../img/";

// Imports

body {
    background: @body;
    color: @gray;
    header {
        height: 100px;
        width: 100%;
        background: url("@{pathimg}header-bg.png") repeat-x;
        .header-container {
            width: 960px;
            margin: 0 auto;
            .header-logo, .header-titulo {
                float: left;
                width: 50%;
            }
            img {
                margin-top: 15px;
            }
            h1 {
                text-align: right;
                color: @gray;
                margin-top: 30px;
            }
        }
    }
    .biblioteca-container {
            background: @white;
            border: 1px solid @graylighter;
            border-radius: 5px;
            width: 960px;
            margin: 50px auto;
            margin-bottom: 30px;
            min-width: 960px;
            min-height: 800px;
            overflow: hidden;
            .menu {
                position: relative;
                float: left;
                width: 270px;
                h3 {
                    color: @blue;
                    text-align: right;
                    padding-right: 30px;
                    margin-top: 100px;
                    font-size: 1em;
                }
                .segundo-titulo {
                    margin-top: 50px;
                }
                ul {
                    li {
                        list-style: none;
                        text-align: right;
                        font-size: 0.9em;
                        font-weight: bold;
                        padding-right: 30px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        margin-right: 4px;
                        z-index: 3;
                        a {
                            color: @gray;
                            text-decoration: none;
                        }
                    }
                    li.active {
                        background: url("@{pathimg}componentes/ul-indicator.png") no-repeat;
                        background-position: right center;
                    }
                    li.active  a { color: @blue; }
                }
            }
            .panel-derecho {
                background: url("@{pathimg}layout8-titulo-bg.png") repeat-x;
                width: 694px !important;
                float: left;
                margin-left: -5px !important;
                border-left: 1px solid @graylighter;
                .titulo {
                    height: 83px;
                    margin-top: -16px;
                    h1 {
                        color: @blue;
                        font-size: 1.5em;
                        margin-left: 20px;
                        line-height: 90px;
                    }
                }
                .panel-derecho-content {
                    background-position: bottom right;
                    border-top: 1px solid @graylighter;
                    clear: both;
                    min-height: 697px;
                    .content-container {
                        margin: 20px 40px;
                        h3 {
                            margin-top: 35px;
                        }
                        .ejemplo, .codigo-ejemplo {
                            border: 1px solid @graylighter;
                            padding: 10px;
                            width: 96%;
                            margin-bottom: 5px;
                        }
                        .link-ejemplo {
                            font-size: 0.8em;
                        }
                        .codigo-ejemplo {
                            background: @code;
                            margin-top: 5px;
                            margin-bottom: 25px;
                            font-family: monospace;
                            display: none;
                        }
                        p {
                            a {
                                color: #005eae;
                            }
                        }
                        .cursiva {
                            font-style: italic;
                        }
                        .nota {
                            font-style: italic;
                            font-size: 0.8em;
                            margin-top: -10px;
                        }
                    }
                }
                .menu-hidden {
                    display: none;
                }
            }
    }
}

.lt-ie10 {
    body {
        header {
            .header-container {
                img {
                    margin-left: 10px;
                }
            }
        }
    }
}

.lt-ie9 {
    body {
        header {
            .header-container {
                margin-top: -20px;
            }
        }
    }
}

.lt-ie8 {
    body {
        header {
            margin-top: -10px;
            .header-container {
                margin-left: 330px;
                margin-top: 0px;
                img {
                    margin-left: -20px;
                }
                h1 {
                    margin-right: 20px;
                }
            }
        }
        .biblioteca-container {
            .panel-derecho {
                .titulo {
                    height: 98px;
                    h1 {
                        line-height: 115px;
                    }
                }
                .panel-derecho-content {
                    min-height: 720px;
                }
            }
        }
    }
}