.alerta {
    border-radius: 5px;
    padding: 5px 20px;
    p {
        font-size: 0.9em;
        line-height: 7px;
    }
    .alerta-titulo {
        font-weight: bold;
    }
}

.exito {
    background: #d9f9e3;
    border: 1px solid #53ac6e;
    p {
        color: #5bb175;
    }
}

.cuidado {
    background: #fff4db;
    border: 1px solid #e2a30c;
    p {
        color: #dc872b;
    }
}

.error {
    background: #f9ebeb;
    border: 1px solid #d74949;
    p {
        color: #d94949;
    }
}